<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlocNotita</title>
    <link href = "css/estilos.css" rel = "stylesheet"> 
</head>
<body>
    
    <div>class="logo">

    </div>
    <img> src="./img tita"alt="logo del proyecto">
    <head>
 </body>
    
        
</div>


        <div>
            <section class="titulo">
<h4>proyecto Ale</h4>
 </section>
 </div>

 <div>
<h2>BlocNotita</h2>
<section></section>

 </div>
 <p>Un bloc de notas ameno para cada usuario</p>
        
    
     <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
<div> </div>
<body>
    <html>

<button>"escribir texto"</button>

<button>"dibujar con lapiz"</button>

<button>"buscar contactos"</button>

<button>"enviar"</button>

</html>
</body>













    
    
