<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href = "css/style.css" rel = "stylesheet">  
</head>
<body> 

  <img>src=views/login.htmlpublic/css/TITA logo.png
  


<h2>HTML Forms</h2>
<div class="formulario">
<form action="/action_page.php">
  <label for="fname">usuario:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
</div>
</body>
</html>

    
    
